**CASE STUDY:**
    


Analyzing an affiliated credit card (special card only available to members of a specific group). Think of it like this -
the credit card company is like Citibank and the affiliated group is a company like Indian Oil or Barista. The
affiliated group has to pay some fees to credit card company (because the credit card company is providing this
service to the group)

In [23]:
#import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

The given parameter of the calculation of profit and loss
- average card balance is Rs 1000
- each card has an interest rate of 15%
- membership fee is Rs 20 per card
- loss rate is 3% (NOTE: what are the interpretations of this ? state your assumption CLEARLY when solving )
- Rs 25 operating cost per card
- Rs 10 affiliation fee per card (cost to the group organization itself, so that their members get this awesome card program)
- 6.5% cost of funds (that credit card company must pay to the bank where it gets money)
- bill/statement is issued on 1st of every month
- credit-free period = 15 days from the bill/statement issue date

In [24]:
#initailization the given parameter

#total number of customer
total_cust=1000

#let us consider that 95% of customer pay the bill on time
cust_no_delay=0.95*1000

#let us consider that 2% of customer pay the bill after 30 days
cust_30_days=0.02*1000 

#let us consider that 2% of customer pay the bill after 45 days
cust_45_days=0.02*1000

#let us consider that 1% of customer pay the bill after 60 days
cust_60_days=0.01*1000  

#monthly average balance
monthly_bal=1000

**Source of Reveneue generation per year**

In [25]:

#membership fee is Rs 20 per card
membership_card=20*total_cust*12

#affiliation fee per card is Rs 10
affiliation_fee=10*total_cust*12

#interest rate is 15% for each card
int_rate=0.15

**Expenses for one year**

In [26]:
# Bank lending money to the credit card company
cost_of_funds=12*total_cust*0.065

# Rs 25 operating cost per card
operating_cost=12*25*1000 

# 3% loss due to non-payment of credit card bills
loss_rate=0.03

# Calculations

Provide a monthly calculation of profits/losses given :

i) The interest rate is simple interest.

ii) Interest is calculated on a daily basis.

iii) The average card balance is the average end of month balance.

iv) All members are more than a year old.

Consider 1000 customers for the above scenario, divide these 1000 customers into following groups(upon your
assumption and understanding about the credit lending industry)
1.customers who pay the bill within the credit-free period
2.customers paying 30 days after the last due date
3.customer paying 45 days after the last due date
4.customer paying 60 days after the last due date(remove these customers for the complete calculation of the next
month,basically, you are not supposed to provide further credit services to these customers)

In [37]:
days=30
category=4
category_type=[]
for cust_category in range(category):
    if cust_category==0:
        category_type.append("Paid before due date")
    else:
        category_type.append("Paid %d days after due date"%days)
        days+=15
Data=pd.DataFrame({'Category':category_type},index=np.arange(1,category+1))
Data

                      Category
1         Paid before due date
2  Paid 30 days after due date
3  Paid 45 days after due date
4  Paid 60 days after due date

# Interest Calculation

**General formula to calculate interest on credit card: (Number of days are counted from the date of transaction made x Entire outstanding amount x Interest rate per month x 12 month)/365.**

In [41]:
def interest_cal(payment_days):
    #billing cycle start from 1st of eevery month
    avg_day_trans= 15 #assume average day transcation as 15th of billing cycle
    if payment_days==category_type[0]:
        Interest_per_card=0
    elif payment_days==category_type[1]:
        Interest_per_card=((avg_day_trans+30)*monthly_bal*int_rate)/365 #assuming given intereset rate is for 1 year 
    elif payment_days==category_type[2]:
        Interest_per_card=((avg_day_trans+45)*monthly_bal*int_rate)/365
    else:
        Interest_per_card=((avg_day_trans+60)*monthly_bal*int_rate)/365
    return Interest_per_card

In [57]:
Data['Estimated_Interest_on_Default']=Data['Category'].apply(interest_cal).round(2)
Data

                      Category  Estimated_Interest_on_Default
1         Paid before due date                           0.00
2  Paid 30 days after due date                          18.49
3  Paid 45 days after due date                          24.66
4  Paid 60 days after due date                          30.82

In [70]:
def total_int(col):
    payment_days=col[0]
    Interest_per_card=col[1]
    if payment_days==category_type[0]:
        total_interest=0
#Interest for customers who are late by 30 days
    elif payment_days==category_type[1]:
        total_interest=12*Interest_per_card*cust_30_days
#Interest for customers who are late by 45 days
    elif payment_days==category_type[2]:
        total_interest=12*Interest_per_card*cust_45_days
#Interest for all customers who are late by 60 days, remove these customers after non payment
    else:
        total_interest=12*Interest_per_card*cust_60_days
    return total_interest

In [71]:
Data["total interest for 1 year"]=Data[['Estimated_Interest_on_Default','Category']].apply(total_int,axis=1)

TypeError: can't multiply sequence by non-int of type 'float'

In [69]:
Data

,Category,Estimated_Interest_on_Default,total interest for 1 year
1,Paid before due date,0.00,Paid before due date
2,Paid 30 days after due date,18.49,Paid 30 days after due date
3,Paid 45 days after due date,24.66,Paid 45 days after due date
4,Paid 60 days after due date,30.82,Paid 60 days after due date